node_modules

/.cache
/build
/public/build
.env

.vscode/
*.db
*.bat
*.exp
*.pdb
*.dll
*.a
*.so
*.db-shm
*.db-wal
*.db-journal
package-lock.json
*.sqlite
node_modules/
build/
# C benchmark binary
bench/bench
deno.lock
bun.lockb
.DS_Store
